<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specifica Management</title>
</head>
<body>
<h1>Benvenuto nella gestione delle specifiche</h1>

<button onclick="creaNuovaSpecifica()">Crea nuova specifica</button>
<button onclick="importaSpecificaEsistente()">Importa specifica esistente</button>
<button onclick="visualizzaStorico()">Storico</button>

<!-- Aggiungi qui eventuali script JavaScript per gestire le azioni dei pulsanti -->
<script>
    function creaNuovaSpecifica() {

        // Cambia la pagina HTML
        window.location.href = "creazioneSpecifica?step=pojo";
    }

    function importaSpecificaEsistente() {
        // Aggiungi la logica desiderata per l'importazione di una specifica esistente
        alert("Azione: Importa specifica esistente");


    }

    function visualizzaStorico() {
        // Aggiungi la logica desiderata per la visualizzazione dello storico
        alert("Azione: Visualizza Storico");

    }
</script>
</body>
</html>
