<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specifica Management</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/index.js}"></script>
</head>
<body>
<h1>Benvenuto nella gestione delle specifiche</h1>
<div id="token" th:data-securityToken="${securityToken}"></div>
<button onclick="creaNuovaSpecifica()">Crea nuova specifica</button>
<button onclick="importaSpecificaEsistente()">Importa specifica esistente</button>
<button onclick="visualizzaStorico()">Storico</button>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>

<!-- Aggiungi qui eventuali script JavaScript per gestire le azioni dei pulsanti -->
</body>
</html>
