<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deception Component Generator</title>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
<div class="container">
    <div class="title">
        <h1><span>Deception Component Generator</span></h1>
        <h3>RestApi Server Generation</h3>
    </div>
    <h2>Login</h2>
    <p>
        For obtaining credentials, contact the service administrator at <a href="mailto:leonardo.ruberto@studio.unibo.it">leonardo.ruberto@studio.unibo.it</a>.
    </p>
    <div id="container-login">
        <form class="login-form" action="/login" method="post">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
    </div>
</div>

<script>
    // Verifica se c'è il parametro di logout nella URL
    const urlParams = new URLSearchParams(window.location.search);
    const logoutParam = urlParams.get('logout');
    if (logoutParam === 'true') {
        alert('Logout effettuato con successo');
    }

    // Verifica se c'è il parametro di error nella URL
    const errorParam = urlParams.get('error');
    if (errorParam === 'true') {
        alert(errorParam);
    }
</script>
</body>
</html>
