<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Specification</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/personalizedEntities.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/personalizedEntities.css">
</head>
<body>

<div class="container">
    <div class="title">
        <h1>API Specification</h1>
        <h3>Building of custom entities </h3>
    </div>

    <div>
        <p>
            In this section you can create your own <b>custom entities</b>, based on the data types available on
            the Mockaroo website. You can learn more about the data types available directly on <a
                href="https://www.mockaroo.com/">Mockaroo.com</a>.
        </p>
    </div>

    <div class="button-container">
        <button id="reset">Reset</button>
        <button id="continue">Continue</button>
    </div>

    <div class="form-section">
        <div id="entityList">
            <h3>List of entities</h3>
        </div>
        <button id="createEntityBtn">Create Custom Entity</button>
    </div>

    <div id="footer">
        <section>
            <div><span>Username: </span><span id="username" class="username" th:text="${username}"></span></div>
            <form th:action="@{/}" method="get">
                <input type="submit" value="Home"/>
            </form>
        </section>
    </div>
</div>

<div id="entityDialog" class="dialog">
    <h2>New Custom Entity</h2>
    <div id="entNameDiv">
        <label for="entityName">Entity Name:</label>
        <input type="text" id="entityName" required>
    </div>
    <hr>
    <div id="fieldsContainer">
        <div class="fieldRow">
            <input type="text" class="fieldName" placeholder="Field name" required>
            <select class="fieldType">
                <option th:each="item : ${mockarooDataTypes}" th:value="${item}" th:text="${item}"></option>
            </select>
        </div>
    </div>
    <button id="closeDialog">Close</button>
    <button id="addFieldBtn">Add Field</button>
    <button id="saveEntityBtn">Save</button>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    const mockarooDataTypes = /*[[${mockarooDataTypes}]]*/ [];
    /*]]>*/
</script>

</body>
</html>
