<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>API Specification</title>
    <script th:src="@{/js/utils.js}"></script>
    <script th:src="@{/js/classes.js}"></script>
    <script th:src="@{/js/securityScheme.js}"></script>
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/securityScheme.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        label {
            display: block;
            margin-bottom: 5px;
        }
        input {
            margin-bottom: 10px;
            width: 100%;
            padding: 5px;
        }
        button {
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="title">
        <h1>API Specification</h1>
        <h3>Definition of security schemes</h3>
    </div>

    <div class="button-container">
        <button id="reset">Reset</button>
        <button id="import">Import</button>
        <button id="save">Save</button>
        <button id="continue" onclick="handleContinueButton()">Continue</button>
    </div>

    <div class="form-container">
        <div class="form-section">
            <h2>Security Scheme</h2>
            <label for="type">Type:</label>
            <input type="text" id="type" name="type" placeholder="e.g., apiKey">

            <label for="description">Description:</label>
            <input type="text" id="description" name="description" placeholder="Enter a description">

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="e.g., api_key">

            <label for="in">In:</label>
            <input type="text" id="in" name="in" placeholder="e.g., header or query">

            <label for="scheme">Scheme:</label>
            <input type="text" id="scheme" name="scheme" placeholder="e.g., basic or bearer">

            <label for="bearerFormat">Bearer Format:</label>
            <input type="text" id="bearerFormat" name="bearerFormat" placeholder="e.g., JWT">

            <label for="openIdConnectUrl">OpenId Connect URL:</label>
            <input type="text" id="openIdConnectUrl" name="openIdConnectUrl" placeholder="Enter authorization URL">
        </div>

        <div id="flow-section" class="form-section">
            <h2>OAuth Flows <span>  oauth2</span></h2>
            <div class="mid-container">
                <div class="inner-form-section" id="implicitFlow">
                    <h4>Implicit</h4>
                    <label for="authorizationUrlImplicit">Authorization URL:</label>
                    <input type="text" id="authorizationUrlImplicit" name="authorizationUrlImplicit" placeholder="https://example.com/">

                    <label for="refreshUrlImplicit">Refresh URL:</label>
                    <input type="text" id="refreshUrlImplicit" name="refreshUrlImplicit" placeholder="https://example.com/">

                    <label for="scopesImplicit">Scopes (comma-separated):</label>
                    <input type="text" id="scopesImplicit" name="scopesImplicit" placeholder="e.g., read: descrizione, write:descrizione">
                </div>
                <div class="inner-form-section" id="authorizationCodeFlow">
                    <h4>Authorization Code</h4>
                    <label for="authorizationUrlAuthCode">Authorization URL:</label>
                    <input type="text" id="authorizationUrlAuthCode" name="authorizationUrlAuthCode" placeholder="https://example.com/">

                    <label for="refreshUrlAuthCode">Refresh URL:</label>
                    <input type="text" id="refreshUrlAuthCode" name="refreshUrlAuthCode" placeholder="https://example.com/">

                    <label for="scopesAuthCode">Scopes (comma-separated):</label>
                    <input type="text" id="scopesAuthCode" name="scopesAuthCode" placeholder="e.g., read: descrizione, write:descrizione">

                    <label for="tokenUrlAuthCode">Token URL:</label>
                    <input type="text" id="tokenUrlAuthCode" name="tokenUrlAuthCode" placeholder="https://example.com/">

                </div>
            </div>
            <div class="mid-container">
                <div class="inner-form-section" id="clientCredentialsFlow">
                    <h4>Client Credentials</h4>
                    <label for="tokenUrlClient">Token URL:</label>
                    <input type="text" id="tokenUrlClient" name="tokenUrlClient" placeholder="https://example.com/">

                    <label for="refreshUrlClient">Refresh URL:</label>
                    <input type="text" id="refreshUrlClient" name="refreshUrlClient" placeholder="https://example.com/">

                    <label for="scopesClient">Scopes (comma-separated):</label>
                    <input type="text" id="scopesClient" name="scopesClient" placeholder="e.g., read: descrizione, write:descrizione">
                </div>
                <div class="inner-form-section" id="passwordFlow">
                    <h4>Password</h4>
                    <label for="tokenUrlPass">Token URL:</label>
                    <input type="text" id="tokenUrlPass" name="tokenUrlPass" placeholder="https://example.com/">

                    <label for="refreshUrlPass">Refresh URL:</label>
                    <input type="text" id="refreshUrlPass" name="refreshUrlPass" placeholder="https://example.com/">

                    <label for="scopesPass">Scopes (comma-separated):</label>
                    <input type="text" id="scopesPass" name="scopesPass" placeholder="e.g., read: descrizione, write:descrizione">
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <section>
            <div><span>Username: </span><span id="username" class="username" th:text="${username}"></span></div>
            <form th:action="@{/}" method="get">
                <input type="submit" value="Home"/>
            </form>
        </section>
    </div>
</div>
<div id="page-cover"></div>
<div id="dialogimport" class="dialog">
    <h2>Select Schema to Import</h2>
    <label for="selectOption"></label><select id="selectOption">
    <option value="">Select a configuration</option>
    <th:block th:each="entity : ${securitySchemes}">
        <option th:text="${entity}" th:value="${entity}"></option>
    </th:block>
</select>
    <button onclick="confirmSelection()">Confirm</button>
</div>
<div id="dialogconfig" class="dialog">
    <h2>OAuth2 Configuration</h2>
    <p>
        You have entered the necessary parameters to use OAuth2. You can choose one of the flows you have defined to automatically implement within the service.
    </p>

    <label for="flowSelection"></label>
    <select id="flowSelection" name="flowSelection" onchange="setFlow()" >
        <option value="">Select a flow</option>
    </select>

    <div id="oauthForm" style="display: none">
        <p>
            Please fill in the following fields to obtain an automatic implementation of security.
        </p>

        <div id="clientIdDiv" style="display: none">
            <label for="clientId">Client Id:</label>
            <input type="text" id="clientId" name="clientId">
        </div>

        <div id="clientSecretDiv" style="display: none">
            <label for="clientSecret">Client Secret:</label>
            <input type="text" id="clientSecret" name="clientSecret">
        </div>

        <div id="usernameOauthDiv" style="display: none">
            <label for="usernameOauth">Username:</label>
            <input type="text" id="usernameOauth" name="usernameOauth">
        </div>

        <div id="passwordOauthDiv" style="display: none">
            <label for="passwordOauth">Password:</label>
            <input type="text" id="passwordOauth" name="passwordOauth">
        </div>

        <button onclick="finalStep(true)">Confirm</button>
    </div>

    <button onclick="finalStep(false)">Ignore</button>
</div>
</body>
</html>
