
#cont{
    display: flex;
}


.sections {
    display: flex;
    flex: 1;
    flex-direction: column;
}

section {
    text-align: center;
    margin-bottom: 20px; /* Aggiunge spazio tra le sezioni */
    padding: 10px;
}


section {
    background-color: #F5F7FA6E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
}


label {
    font-size: 24px;
    align-self: center;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

span {
    font-weight: bold;
    font-size: 24px;
    color: darkslategray;
}

h1 span{
    font-size: 46px !important;
}

.container {
    max-width: 800px !important;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    margin-top: 50px !important;
    margin-bottom: 10px !important;
    font-size: 46px !important;
}

h3 {
    margin-bottom: 40px !important;
    font-size: 33px !important;
}

.sections {
    display: flex;
}

#left section,
#right section {
    flex: 1;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgba(47, 79, 79, 0.51);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1d4646;
}

label {
    font-size: 20px;
}

/* Stile per la select */
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Stile per il pulsante di upload file */
input[type="file"] {
    padding: 10px;
    font-size: 16px;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="file"]:hover {
    background-color: #e2edfa;
}
