.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title h1, .title h3, .title p {
    text-align: center;
}

.dashboard-section {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.overview-metrics {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.metric {
    text-align: center;
}

canvas {
    max-width: 100%;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

#backButton, #downloadPDFButton {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

#backButton:hover, #downloadPDFButton:hover {
    background-color: #0056b3;
}

.wrapped-text {
    word-wrap: break-word;
    white-space: pre-wrap;
}

input[type="number"] {
    width: 100px;
    padding: 8px 12px;
    margin-left: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s;
}

input[type="number"]:hover {
    border-color: #007bff;
    background-color: #eef7ff;
}

input[type="number"]:focus {
    border-color: #0056b3;
    background-color: #e1f0ff;
    outline: none;
}