
#inner-form-section {
    display: flex;
    margin-top: 20px;
}

#apiSpecForm {
    display: flex;
    align-items: stretch; /* Allinea gli elementi verticalmente estendendoli */
    max-height: min-content;
}

#serverform {
    height: 100%; /* Estendi il div fino alla stessa altezza del genitore */
}

#apiSpecForm .form-section {
    width: 100%; /* Imposta la larghezza al 50% per affiancarli */
    box-sizing: border-box; /* Assicurati che il padding e il bordo siano inclusi nella larghezza */
    padding: 0 10px; /* Aggiunge spazio tra i form */
}

.form-container {
    width: 100%; /* Imposta la larghezza al 50% per affiancarli */
    box-sizing: border-box; /* Assicurati che il padding e il bordo siano inclusi nella larghezza */
    padding: 0 10px; /* Aggiunge spazio tra i form */

}

.form-container {
    flex: 1; /* Imposta la stessa larghezza per entrambi i form-container */
    display: flex;
    flex-direction: column;
}

.form-section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #F5F7FA6E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-section h2 {
    margin-top: 0;
}

.form-section label {
    display: block;
    margin-bottom: 5px;
}

.form-section input[type="text"] {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.form-section button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(103, 145, 234, 0.56);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-section button:hover {
    background-color: rgb(103, 145, 234);
}

h2 {
    padding-top: 7px;
}

#addedServers button {
    padding: 3px 7px;
    font-size: 12px;
    background-color: rgba(195, 210, 243, 0.52);
    color: black;
    border: none;
    border-radius: 2px;
    cursor: unset;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    margin-left: 3px;
}

#addedServers button:hover {
    background-color: rgba(195, 210, 243, 0.52);
}

.dialog div{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Allinea verticalmente al centro */
    text-align: center; /* Centra orizzontalmente */
}